@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #c8c9cc,
      // --el-color-info-light-5
    ),
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

:root {
  --el-box-shadow-light: 0px 0px 0px 1.5px var(--el-color-primary);
  --el-border-width: 1.5px;
}

.el-button {
  --el-button-text-color: var(--el-border-color-darker);
}

.el-popper__arrow::before {
  border: 1.5px solid var(--el-color-primary) !important;
}

.el-popper.is-light {
  border: none;
}

.el-overlay {
  background-color: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(8px);
}

.el-dialog {
  border-radius: 8px;
}

.el-button.is-text:not(.is-disabled):focus {
  background-color: unset !important;
}

.el-button.is-text:not(.is-disabled):hover {
  background-color: var(--el-fill-color-light) !important;
}
