.ink-mde {
  --ink-block-background-color: transparent;
  --ink-editor-font-size: 0.9em;
  --ink-font-family: var(--herisson-font-family);

  .cm-focused {
    // 不是 border ！
    outline: none !important;
  }

  .ink-mde-details {
    display: none !important;
  }
}
